


h1 {
    color:  #FFFFFF;
}


h2 {
    background-color:  #fffdfd;
}
body header {
    background-color:  #FFFFFF;


}
 
a:hover {
    color:blue;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
} 
.promo {
    background-color: #2F303A;;

}

section {
    
    
    height: 600px;
    top: 80px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

}
button {
   
   
    



width: 152px;
height: 30px;



font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;



text-align: center;
letter-spacing: 0.06em;
background-color: #2196F3;
color: #FFFFFF;

}

 


    
    


