


h1 {
    color:  #FFFFFF;
}

}
h2 {
    background-color:  #fffdfd;
}
body header {
    background-color:  #FFFFFF;


}
 
a:hover {
    color:blue;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
} 
h1 {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    top: 80px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

}
button {
   
   
    


position: absolute;
width: 152px;
height: 30px;
left: 724px;
top: 440px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;


display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

 


    
    


